@import '../../sass/_variables';

.price-wrapper {
  &.grid {
    display: grid;
    grid-auto-columns: max-content;
    gap: $design-step-tall $design-step-double;
  }

  .full-price {
    grid-column: 1 / 3;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $red;
  }

  .currency {
    font-size: 32px;
  }

  .price {
    font-size: 32px;
  }
}
