$design-step: 8px;
$design-step-double: $design-step * 2; // 16px
$design-step-tall: $design-step * 3; // 24px
$design-step-big: $design-step * 4; // 32px
$design-step-bigest: $design-step * 5; // 40px
$design-step-grand: $design-step * 6; // 48px

// colors
$white: #ffffff;
$gray: #e2e4f0;
$red: #ff3d71;
