@import '../../sass/variables';

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  background-color: $light-gray;
  color: $dark-gray;
  border-radius: 6px;
  z-index: 999;
  animation: slide-in 0.4s ease-out;
  box-shadow: 0 12px 10px -8px rgba($dark-gray, 0.5);
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translate3d(0, -500px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -25px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: none;
  }
}
