@import '../../sass/_variables';

.discount-label {
  justify-self: self-start;
  align-self: center;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  background-color: $red;
}
