@import '../../sass/variables';

.count-wrapper {
  display: flex;
  align-items: center;
  column-gap: $design-step-double;

  .count {
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: $dark-gray;
    background-color: $light-gray;
  }

  .full-box-button {
    display: flex;
    align-items: center;
    column-gap: $design-step-double;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
