@import '../../../sass/_variables';

.section-product {
  padding-top: $design-step-big;
  padding-bottom: $design-step-big;
}

.product-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 400px 1fr;
  row-gap: $design-step-big;
  column-gap: $design-step-grand;
}

.section-header {
  grid-column: span 2;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
}
