@font-face {
  font-family: 'Gotham-Book';
  src: local('Gotham-Book'), url('/fonts/Gotham/Gotham-Book.otf') format('opentype'), url('/fonts/Gotham/Gotham-Book.woff') format('woff'),
    url('/fonts/Gotham/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: local('Gotham-Medium'), url('/fonts/Gotham/Gotham-Medium.otf') format('opentype'), url('/fonts/Gotham/Gotham-Medium.woff') format('woff'),
    url('/fonts/Gotham/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: local('Gotham-Bold'), url('/fonts/Gotham/Gotham-Bold.otf') format('opentype'), url('/fonts/Gotham/Gotham-Bold.woff') format('woff'),
    url('/fonts/Gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: local('GothamPro-Medium'), url('/fonts/GothamPro/GothamPro-Medium.otf') format('opentype'),
    url('/fonts/GothamPro/GothamPro-Medium.woff') format('woff'), url('/fonts/GothamPro/GothamPro-Medium#.svgGothamPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
