@import '../../sass/_variables.scss';

.features {
  &__wrapper {
    padding-top: $design-step;
    padding-bottom: $design-step;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    gap: $design-step-tall $design-step-big;
    margin-top: $design-step-big;
    padding: 0;
    list-style-type: none;

    .list-item {
      display: flex;
      flex-direction: column;
      row-gap: $design-step;

      &__value {
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        color: $main-black;
      }

      &__key {
        font-size: 12px;
        font-weight: 350;
        line-height: 16px;
        color: $dark-gray;
      }
    }
  }
}
